.jak-container {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.jak-header {
    font-size: 40px;
    font-weight: 700;
    color: #006E54;
}

.jak-line {
    width: 700px;
    background-color: #006E54;
    height: 4Px;
    margin-top: -12px;
}

.jak-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.jak-group {
    width: 400px;
    display: flex;
    border: solid  #006E54 2px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s ease-out 100ms;
    cursor: pointer;
}

.jak-group:hover {
    background-color: #006E54;
}

.jak-group:hover .jak-group-header {
    color: #F7F5DD;
    transition: 0.2s ease-in-out 100ms;
}

.jak-group:hover .jak-group-text {
    color: #F7F5DD;
    transition: 0.2s ease-out 100ms;
}




.jak-group-left {
    margin-right: 30px;
}

.jak-circle {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    border: solid #006E54 2px;
    color: #006E54;
    background-color: #F7F5DD;
    font-size: 30px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}


.jak-group-header {
    font-size: 28px;
    margin-top: 8px;
    font-weight: 600;
}

.jak-group-text {
    font-size: 18px;
    margin-left: 22px;
    margin-top: -8px;
}


.jak-img {
    width: 300px;
    right: 100px;
    top: -110px;
    z-index: 100;
    position: absolute;

    -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}

@media (max-width : 1130px) {
    .jak-img {
        display: none;
    }
}


@media (max-width: 400px) {
    .jak-group {
       flex-wrap: wrap;
        width: 40%;
    }
}
