.services-container {
    position: relative;
    background-color: #006E54;
    padding-bottom: 90px;
    height: max-content;
   
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}



.small{
    background-color: #F7F5DD;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: -60px;
    border-radius: 40px;
    margin-right: 50px;
    height: 540px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    opacity: 0.9;
    transition: 0.3s ease-out 100ms;
    opacity: 0;
    transform: translateX(80px);
    transition:  0.4s ;

}
.services-container-text {
    font-size: 21px;
    max-width: 320px;
    font-weight: 500;
    
    
}  
@media (max-width: 500px) {
    .small {
        width: 100%;
        height: fit-content;
        padding-bottom: 40px;
        padding-left: 10Px;
        padding-right: 10px;
    }

    .services-container-text  {
        max-width: 84%;
    }
}
.small:hover {
  
    
   
    
  background-color: #f6f5e7;
    border-radius: 20px;
    z-index: 2;
    opacity: 1;
}
.services-header {
    position: absolute;
    color: #F7F5DD;
    font-size: 38px;
    font-weight: 700;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity ease  1s, transform ease 0.3s;
}

.services-line {
    position: absolute;
    width: 40%;
    height: 4px;
    border-radius: 3px;
   
    background-color: #F7F5DD;

    top: 88px;
}

.services-container-header   {
    font-size: 38px;
    color: #720027;
    max-width: 95%;
    font-weight: 700;
}

.services-container-button {
    width: 200px;
    height: 60px;
    border: none;
    background-color: #720027;
    color: white;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s ease;
  
    margin-top: 20px;
    cursor: pointer;
}

.services-container-button:hover {
    background-color: #590422;
}

.services-container-line {
    width: 240px;
  
    height: 2px;
    margin-top: -12px;
    background-color: #FF5594;
    opacity: 0.7;
}




.services-background,
.services-background-bot {
    position: absolute;
    top: -340px;
    pointer-events: none;
    z-index: -1000;
}

.services-background-bot {
    top: -200px;
  
}


@media (max-width: 1938px) {
    .services-background-bot {
        top: -160px;
    }
}
